.main {
  width: 25rem;
  margin: auto;
}

.btn {
  background-color: rgb(104, 170, 86);
  border: none;
  margin-bottom: 5rem;
}
.btn:hover {
  background-color: rgb(40, 184, 14);
}
.card {
  margin: auto;
  margin-top: 4rem;
}
.card-img-top {
  width: auto;
}
