.main {
  width: 25rem;
  margin: auto;
}

.btn {
  background-color: rgb(151, 196, 207);
  border: none;
  margin-bottom: 5rem;
}
.btn:hover {
  background-color: rgb(210, 223, 208);
}
.card {
  margin: auto;
  margin-top: 4rem;
}
.card-img-top {
  width: auto;
}
.name {
  background-color: #f8ede3;
}
.mail {
  background-color: #dfd3c3;
}
.tel {
  background-color: #d0b8a8;
}
.address {
  background-color: #7d6e833c;
}
.age {
  background-color: #7d6e83;
}
